CfSDeployUpdate.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "Deploy Copilot for Security in Business Hour",
        "description": "Deploy Copilot for Security in Business Hour",
        "author": {
            "name": "Hisashi Nakada"
        }
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "CfS-DeployBusinessHour",
            "type": "string"
        },
        "DeployCfSTargetResourceGroup": {
            "defaultValue": "rg-yourname",
            "type": "string"
        },
        "Geo": {
            "defaultValue": "US",
            "type": "string"
        },
        "capacityName": {
            "defaultValue": "CfS-yourname",
            "type": "string"
        },
        "numberofSCUs": {
            "defaultValue": "1",
            "type": "int"
        }
    },
    "variables": {
        "ArmConnectionName": "[concat('Arm-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "LogicAppsCategory": "security",
                "hidden-SentinelTemplateName": "CfS-DeployBusinessHour",
                "hidden-SentinelTemplateVersion": "1.0"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('ArmConnectionName'))]"
            ],
            "properties": {
                "state": "Disabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "DeployCfSSubscriptionId": {
                            "defaultValue": "[subscription().subscriptionId]",
                            "type": "String"
                        },
                        "DeployCfSTargetResourceGroup": {
                            "defaultValue": "[parameters('DeployCfSTargetResourceGroup')]",
                            "type": "String"
                        },
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "Geo": {
                            "defaultValue": "[parameters('Geo')]",
                            "type": "String"
                        },
                        "capacityName": {
                            "defaultValue": "[parameters('capacityName')]",
                            "type": "String"
                        },
                        "crossGeoCompute": {
                            "defaultValue": "Allowed",
                            "type": "String"
                        },
                        "numberOfSCUs": {
                            "defaultValue": "[parameters('numberOfSCUs')]",
                            "type": "Int"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1,
                                "schedule": {
                                    "hours": [
                                        "10"
                                    ]
                                },
                                "timeZone": "Tokyo Standard Time"
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Day",
                                "interval": 1,
                                "schedule": {
                                    "hours": [
                                        "10"
                                    ]
                                },
                                "timeZone": "Tokyo Standard Time"
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Condition": {
                            "actions": {
                                "Create_or_update_a_resource": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "location": "eastus",
                                            "properties": {
                                                "crossGeoCompute": "@{parameters('crossGeoCompute')}",
                                                "geo": "@{parameters('geo')}",
                                                "numberOfUnits": "@parameters('numberOfSCUs')"
                                            }
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['arm']['connectionId']"
                                            }
                                        },
                                        "method": "put",
                                        "path" : "/subscriptions/@{encodeURIComponent(parameters('DeployCfSSubscriptionId'))}/resourcegroups/@{encodeURIComponent(parameters('DeployCfSTargetResourceGroup'))}/providers/@{encodeURIComponent('Microsoft.SecurityCopilot')}/@{encodeURIComponent('capacities/',parameters('capacityName'))}",
                                        "queries": {
                                            "x-ms-api-version": "2023-12-01-preview"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_DayOfTheWeek": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "and": [
                                    {
                                        "not": {
                                            "equals": [
                                                "@variables('DayOftheWeek')",
                                                0
                                            ]
                                        }
                                    },
                                    {
                                        "not": {
                                            "equals": [
                                                "@variables('DayOftheWeek')",
                                                6
                                            ]
                                        }
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Initialize_DayOfTheWeek": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "DayOftheWeek",
                                        "type": "integer",
                                        "value": "@int(dayOfWeek(convertFromUtc(utcNow(),'Tokyo Standard Time')))"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "arm": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('ArmConnectionName'))]",
                                "connectionName": "[variables('ArmConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/arm')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2018-07-01-preview",
            "name": "[variables('ArmConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "parameterValueType": "Alternative",
                "api": {
                    "displayName": "[variables('ArmConnectionName')]",
                    "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location,'/managedApis/arm')]"
                }
            }
        }
    ]
}
